.bmfw-bodymovin-container{
  background-color: #EFEBEA;
  position: relative;
  border: 1px solid #BCD6C6;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  &::after{
    content: "bodymovin animation " attr(data-bmfw-filename);
    display: block;
    font-style: italic;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
  }
  &>div{
    display: none;
  }
}
